/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    padding: 10px;
    width: 50%;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    min-height: 200px;
    width: 100%;
    background-color: green;
    margin-bottom: 10px;
   }
   #navigation{
    min-height: 300px;
    width: 25%;
    background-color: blue;
    
   }
   #main_content{
    min-height: 400px;
    width: 100%;
    background-color: red;
    vertical-align: top;
    margin-left: 5px;
   }
   .subcontents{
    min-height: 200px;
    width: 25%;
    background-color: yellow;
    display: inline-block;
    margin: 20px 10px 20px 20px;
   }
   #advertisement{
    min-height: 120px;
    width: 95%;
    background-color: purple;
    margin: 20px;
   }
   
   .inlineblock{
    display: inline-block;
   }

   @media only screen and (max-width:480px){
    .sm-4{
        width: 100%;
    }

    .sm-0{
        display: none;
    }
   }
   
   @media only screen and (min-width:481px) and (max-width:1023px){
    .med-2{
        width: 50%;
    }

    .med-0{
        display: none;
    }
   }

   @media only screen and (max-width:1024px){
    .lg-1{
        width: 25%;
    }
   }