*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 970px;
}

header{
    background-color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margenHeader{
    margin: 15px;
    font-family: 'Comic Neue', cursive;
}

main{
    background-color: rgb(61, 34, 67);
}

.papaFlex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
}

#FotoDeJayneDoe{
    border: 5px solid gray;
    width: 400px;
}

.cajas{
    background-color: whitesmoke;
    width: 290px;
    height: 600px;
}

#About{
    width: 485px;
    height: 275px;
}

.estiloTitulo{
    background-image: linear-gradient(rgb(158, 158, 158), rgb(103, 103, 103), rgb(158, 158, 158));
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.estiloTexto{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.tamañoTexto{
    height: 160px;
}

.fotoCaja{
    width: 290px;
}


.fotoTec{
    width: 35px;
    margin-top: 10px;
    margin-left: 14px;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.63);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: small;
}

#boton1{
    margin-left: 110px;
    margin-right: 110px;
}

#boton2{
    margin-left: 85px;
    margin-right: 85px;
}

#boton3{
    margin-left: 105px;
    margin-right: 105px;
}

.fotoSociales{
    width: 25px;
}

.container{
    width: 970px;
}

.center-me{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.center{
    margin: 2.5px;
}


